.page .theme-default-content,
.page .page-edit,
.page .page-nav {
	max-width: 1200px;
	padding-left: 3em;
	padding-right: 3em;
}

table {
	min-width: 100%;
}

.page-manual table tr > td:first-child {
	min-width: 160px;
	width: 160px;
}
.page-manual table tr > td:nth-child(2) {
	min-width: 230px;
}

.page-works table tr > td:first-child {
	width: 160px;
}
.page-works table tr > td:nth-child(2) {
	min-width: 120px;
}
.page-works table tr > td:nth-child(3) {
	min-width: 120px;
}
.page-works table tr > td:nth-child(4),
.page-works table tr > td:nth-child(5) {
	width: 80px;
}

@media (max-width: 959px) {
	.page .theme-default-content,
	.page .page-edit,
	.page .page-nav {
		padding-left: 2em;
		padding-right: 2em;
	}
	.page-manual table tr > td:first-child {
		min-width: 80px;
		width: 80px;
	}
	.page-manual table tr > td:nth-child(2) {
		min-width: auto;
	}
	.page-works table tr > td:first-child {
		min-width: 80px;
		width: 80px;
	}
	.page-works table tr > td:nth-child(2) {
		min-width: 200px;
	}
	.page-works table tr > td:nth-child(3),
	.page-works table tr > td:nth-child(4) {
		width: 80px;
	}
}